---
import data from '@data/rest_countries.json';
import ChallengeLayout from '@layouts/ChallengeLayout.astro';

export async function getStaticPaths() {
  return data.map(country => ({ params: { code: country.alpha3Code }}));
}

const { code } = Astro.params;

const country = data.find(country => country.alpha3Code === code);
---

<ChallengeLayout title="REST Countries API with color theme switcher" description="Integration with the REST Countries API to pull country data and display it like in the designs.">
  <p>Country: {country.name}</p>
  <p></p>
</ChallengeLayout>
