---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frontend Mentor - Solutions" description="My frontend mentor solutions, please feel free to use anything.">
	<main>
    <table>
      <tr>
        <th>Challenge</th>
        <th>Difficulty</th>
        <th>What I used</th>
        <th>Status</th>
      </tr>
      <tr>
        <td><a href="/rest-api-countries">REST Countries API with color theme switcher</a></td>
        <td>Advanced</td>
        <td>Astro</td>
        <td>In Progress</td>
      </tr>
    </table>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 16px;
		line-height: 1.6;
	}

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table tr:nth-child(even){background-color: #f2f2f2;}

  table tr:hover {background-color: #ddd;}

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9b59b6;
    color: white;
  }
</style>
