---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor Challenge - {title}</title>
	</head>
	<body>
    <div class="banner">
      <span>This is a challenge from <a href="https://www.frontendmentor.io/">Frontend Mentor</a>.</span>
    </div>
    <slot />
	</body>
</html>

<style is:global>
	html {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    min-height: 100vh;
    scroll-behavior:smooth;
	}

  a {
    color: inherit;
    text-decoration: underline;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #56BC8A;
    min-height: 50px;
    color: white;
  }
</style>

